<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jie.blog.mapper.UserMapper">

    <select id="getAll" resultType="com.jie.blog.pojo.User">
        select id,username,avatar from vueblog.m_user order by last_login desc limit 0,12
    </select>
</mapper>
